In [1]:
#imports

from splinter import Browser
from bs4 import BeautifulSoup as Soup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# splinter setup
executablepath = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executablepath, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\caleb\.wdm\drivers\chromedriver\win32\91.0.4472.19\chromedriver.exe] found in cache

# Nasa Mars News Site

In [3]:
#visit url
url = "https://redplanetscience.com/"
browser.visit(url)

#create a beautiful soup object
html = browser.html
news_soup = Soup(html, 'html.parser')

element = news_soup.select_one('div.list_text')
print(element)

<div class="list_text">
<div class="list_date">June 8, 2021</div>
<div class="content_title">NASA's Curiosity Mars Rover Takes a New Selfie Before Record Climb</div>
<div class="article_teaser_body">Along with capturing an image before its steepest ascent ever, the robotic explorer filmed its "selfie stick," or robotic arm, in action.</div>
</div>

In [4]:
News_title = element.find('div', class_='content_title').get_text()
print(News_title)

NASA's Curiosity Mars Rover Takes a New Selfie Before Record Climb

In [5]:
news_paragraph = element.find('div', class_='article_teaser_body').get_text()
print(news_paragraph)

Along with capturing an image before its steepest ascent ever, the robotic explorer filmed its "selfie stick," or robotic arm, in action.

# JPL Mars Space Images

In [6]:
#visit url
url = "https://spaceimages-mars.com/"
browser.visit(url)

#create a beautiful soup object
html = browser.html
news_soup = Soup(html, 'html.parser')

In [7]:
#find the image button
imageElement = browser.find_by_tag('button')[1]

imageElement.click()
#print(imageElement)

In [8]:
#after clicking create another bs object
#create another beautiful soup object
html = browser.html
image_soup = Soup(html, 'html.parser')

In [9]:
image_url = image_soup.find('img', class_='fancybox-image').get('src')
print(image_url)

image/featured/mars1.jpg

In [10]:
img_url = f"{url}{image_url}"
print(img_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

# Mars Facts Page

In [11]:
#use pandas to read the page
df = pd.read_html('https://galaxyfacts-mars.com/')[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [12]:
# re-configure the dataframe
df.columns = ['Description', 'Mars', 'Earth']
df.set_index('Description', inplace=True)
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [13]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemisphere Pics

In [29]:
#visit url
url = "https://marshemispheres.com/"
browser.visit(url)

html = browser.html

In [30]:
#create a list to hold the images and the titles for the hemispheres
hemisphereImgURLs = []

links = browser.find_by_css('a.product-item img')
for link in range(len(links)):
    hemi_dict = {}
    
    #click the picture
    browser.find_by_css('a.product-item img')[link].click()
    
    #find the text marked 'Sample' in the product page
    sample = browser.links.find_by_text('Sample').first
    #find the href to the sample
    hemi_dict['img_url'] = sample['href']
    
    #grab the headings and store as the title
    hemi_dict['title'] = browser.find_by_css('h2.title').text
    
    #append the dictionary to the list of urls
    hemisphereImgURLs.append(hemi_dict)
    
    #back to main page
    browser.back()

In [31]:
hemisphereImgURLs

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]